In [6]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('Columbia.csv', index_col=0) 
#Remember to change this part to the directory of where your csv file is, otherwise it won't work

In [8]:
df.head()

,member_id,CLI,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077430,1314167,2500,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077175,1313524,2400,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076863,1277178,10000,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075358,1311748,3000,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Removes the NaN values per columns, which is what the axis=1 is for
df = df.dropna(axis=1)
df.head()

,member_id,CLI,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,...,861.07,0.00,0.00,0.00,171.62,16-Jan,0,1,INDIVIDUAL,0
1077430,1314167,2500,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,...,435.17,0.00,117.08,1.11,119.66,13-Sep,0,1,INDIVIDUAL,0
1077175,1313524,2400,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,...,603.65,0.00,0.00,0.00,649.91,16-Jan,0,1,INDIVIDUAL,0
1076863,1277178,10000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,...,2209.33,16.97,0.00,0.00,357.48,15-Jan,0,1,INDIVIDUAL,0
1075358,1311748,3000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,...,1009.07,0.00,0.00,0.00,67.79,16-Jan,0,1,INDIVIDUAL,0

In [10]:
cols_to_drop = ['policy_code', 'initial_list_status', 'collections_12_mths_ex_med', 'pymnt_plan', 'application_type', 'acc_now_delinq', 'purpose', 'title', 'zip_code', 'addr_state']
df.drop(cols_to_drop, axis=1, inplace=True)
df.head()

,member_id,CLI,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,...,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,171.62,16-Jan
1077430,1314167,2500,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,...,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,119.66,13-Sep
1077175,1313524,2400,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,...,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,649.91,16-Jan
1076863,1277178,10000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,...,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,357.48,15-Jan
1075358,1311748,3000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,...,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,67.79,16-Jan

In [12]:
df.to_csv('Columbia_edited.csv')